body {
  background-color: $background-color;
}

.app-container {
  @extend .container;
  background-color: #fff;
  margin-top: 90px;
  margin-bottom: 72px;
  border-radius: 3px;
  box-shadow: $shadow-depth-1;
  max-width: 1000px;
  header {
    padding: 36px 40px 27px 48px;
  }
  section {
    padding: 12px 30px;
    &.list {
      padding: 0;
    }
  }
  .loading-background {
    background-color: rgba(255, 255, 255, 0.85);
    width: calc(100% + 30px);
    height: 100%;
    position: absolute;
    z-index: 10;
    margin-left: -15px;
  }
  .app-content {
    position: relative;
  }
  .app-brand {
    height: 71px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: 300;
}

h5 {
  font-weight: 500;
  color: $gray-dark;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $gray !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $gray !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $gray !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $gray !important;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: $gray !important;
}

header {
  padding: 24px 40px 20px 40px;
  border-bottom: 1px solid $gray-lighter;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

section {
  padding: 20px 50px;
  &:not(:first-of-type) {
    border-top: 1px solid $gray-lighter;
  }
  .title {
    margin-top: 30px;
  }
  > form:first-of-type {
    padding-top: 20px;
  }
  &.list {
    background-color: $background-color-secondary;
    padding: 0px;
    & > div{
      padding: 15px 50px;
      border-bottom: 1px solid $gray-lighter;
    }
    .list-header {
      font-weight: bold;
      font-size: 14px;
      padding-top: 16px;
      padding-bottom: 6px;
      color: $gray-dark;
    }
    .list-menu {
      padding-top: 13px;
      padding-bottom: 13px;
    }
    .list-item {
      a {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .list-footer {
      @extend .centered;
      .pagination {
        margin: 0px;
      }
    }
  }
}

.clickable {
  cursor: pointer;
}

.inline-margin {
  margin-right: 4px;
}

.form-horizontal {
  font-size: 13px;
  .form-group {
    .control-label {
      font-weight: 700;
      color: $gray-dark;
      border-right: 1px solid rgba(0,0,0,0.12);
      padding-top: 4px;
      padding-bottom: 8px;
      padding-right: 10px;
    }
    div[class^="col-xs-"], div[class*=" col-xs-"] {
      margin-left: -11px;
    }
    .help {
      padding-left: 2px;
      i.fa {
        font-size: 15px;
        padding-top: 6px;
        max-width: 335px;
        &.fa-info-circle {
          color: $brand-primary;
        }
      }
      .help-title {
        display: inline-block;
        padding-left: 4px;
        color: $gray-dark;
        text-align: left;
        font-size: 13px;
        font-weight: bold;
      }
      .help-description {
        font-size: 12px;
        color: $gray-dark;
        padding-left: 14px;
        font-style: italic;
      }
    }
  }
  input.form-control {
    border: 1px solid transparent;
    height: auto;
    padding: 3px 0px 3px 8px;
    &:hover {
      border-color: $gray-light;
    }
    &:focus {
      border-color: $brand-focus;
    }
  }
  .radio-container {
    padding: 0px 0px 0px 15px;
    label {
      border: 1px solid $gray-light;
      border-radius: 3px;
      padding: 3px 7px 4px 7px;
      font-size: 13px;
      margin-right: 5px;
      &.radio-button {
        &.selected {
          border: 1px solid $gray;
        }
      }
      input {
        vertical-align: sub;
      }
    }
    input.form-control {
      font-size: 13px;
    }
  }
  select {
    border: 1px solid $gray-light;
    border-radius: 3px;
    font-size: 13px;
    color: $gray-darker;
    width: initial;
    padding: 2px;
  }
}

p {
  max-width: 465px;
}

.text-danger {
  color: $brand-danger;
}

// CUSTOM CLASES...

.centered {
  text-align: center;
}

.stick-left {
  border-left: 1px solid $gray-lighter;
}

.stick-top {
  border-top: 1px solid $gray-lighter;
}

.stick-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07); }

.stick-right {
  border-right: 1px solid rgba(0, 0, 0, 0.07); }

.stick-all {
  border: 1px solid rgba(0, 0, 0, 0.07); }

.input-error {
  box-shadow: inset 0 0 3px 0 #FF0000;
}

.error-alert {
  @extend .centered;
  width: 400px;
  margin: 10px auto;
  padding: 6px 12px;
}

.round-square {
  @extend .centered;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: inset 0 0 3px 0 rgba(207,207,207,0.7);
  margin: 15px 0;
  padding: 10px 0;
}

.round-square-selected {
  box-shadow: inset 0 0 3px 0 blue;
}

.item-title {
  font-size: 14.95px;
  color: $gray-darker;
  line-height: 18.57px;
  margin-bottom: 5px;
}

.item-sku {
  font-size: 11px;
  color: $gray-dark;
  margin-bottom: 8px;
}
